# ======================
# PyCharm
# ======================
.idea/
*.iml

# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境
venv/
.venv/
env/
ENV/

# ======================
# 构建 / 发布
# ======================
build/
dist/
*.egg-info/

# ======================
# 测试 / 覆盖率
# ======================
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/

# ======================
# 日志 / 临时文件
# ======================
*.log
logs/
tmp/

# ======================
# 环境变量
# ======================
.env
.env.*

# ======================
# 系统文件
# ======================
.DS_Store
Thumbs.db
